[debug]
DEBUG=
TEMPLATE_DEBUG=

[admin]
ADMIN_NAME=
ADMIN_MAIL=

[webmaster]
WEBMASTER_MAIL=

[database]
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

[template]
TEMPLATE_NAME=

[email]
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

[google]
CALENDAR_EMAIL=
CALENDAR_PASSWORD=
ANALYTICS_ACCOUNT=
ANALYTICS_DOMAIN=

[imgur]
ANON_KEY=
CONSUMER_KEY=
CONSUMER_SECRET=
PASSWORD=
ACCOUNT=

[site]
BACKGROUND_IMAGE=
SITE_ID=
