
 <form id="password_form" method="POST" action="{% url changepassword %}">
 <table>
    <tbody>
      <tr>
       <td class="label"><label for="id_pass1">Password:</label></td>
       <td class="field"><input type="password" name="pass1" id="id_pass1" value="" size="75" /></td>
      </tr>
      <tr>
       <td class="label"><label for="id_pass2">Retype password:</label></td>
       <td class="field"><input type="password" name="pass2" id="id_pass2" value="" size="75" /></td>
      </tr>
    </tbody> 
 </table>
</form>
