{% extends "base.html" %}
{% load photologue_tags %}
{% block title %}{{ photo.title }}{% endblock %}

{% block content %}

<h2 class="title">{{ photo.title }}</h2>
<div class="gallery-photo">
    <a href="{{ photo.image.url }}"><img src="{{ photo.get_display_url }}" alt="{{ photo.title }}"/></a>
    {% if photo.caption %}<p>{{ photo.caption }}</p>{% endif %}
</div>
{% if photo.public_galleries %}
<h3>Cette photo apparait dans les galeries suivantes :</h3>
{% for gallery in photo.public_galleries %}
    <p>{%previous_in_gallery photo gallery%} <a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a> {%next_in_gallery photo gallery%}</p>
{% endfor %}
{% endif %}

{% endblock %}
